version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-users
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: users_db
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
